html {
  padding-left: calc(100vw - 100%);
}

@import url("https://static.zeoseven.com/zsft/309/main/result.css");

body {
  font-family: "KingHwa_OldSong";
  font-weight: normal;
}

// @font-face {
//   font-family: "京華老宋体";
//   src: url("../fonts/京華老宋体v2.002.woff") format("woff2");
// }

// body {
//   font-family: "京華老宋体", sans-serif;
// }

.badge {
  font-weight: 500;
}

.bg-light,
.badge-light {
  &,
  * {
    color: $text-black !important;
  }
}

.bg-dark,
.badge-dark {
  &,
  * {
    color: $text-white !important;
  }
}
