html {
  padding-left: calc(100vw - 100%);
}

@font-face {
  font-family: "Cubic_11";
  src: url("../fonts/Cubic_11.ttf") format("woff2");
}

body {
  font-family: "Cubic_11", sans-serif;
}

.badge {
  font-weight: 500;
}

.bg-light,
.badge-light {
  &,
  * {
    color: $text-black !important;
  }
}

.bg-dark,
.badge-dark {
  &,
  * {
    color: $text-white !important;
  }
}
